 {{#each info}}
    <div class="card card-book" style="width: 10rem;" >
      <a href="/book/{{this.id}}">
        <img class="card-img-top" src={{this.image}} alt="Card image cap">
      </a>
      <div class="card-body card-body-book">
        <div class="card-book-text-container">
          <h4 class="card-text card-book-text">{{this.title}}</h4>
          <h6 class="card-text card-book-text">{{this.subtitle}}</h6>
        </div>
        <form action="/search" method="GET" id="testForm">
        <input type="text" name="starred" class="hidden" id="book-input">

        {{#if this.starred}}
          <div class="book-icons" id={{this.id}}> <i class="fas fa-star star-book clicked" data-toggle="tooltip" title="Add Book to Favorites" id="star-book"></i></i><i class="fas fa-plus add-book" data-toggle="tooltip" title="Add Book to Read Books" ></i></div>
        {{else}}
          <div class="book-icons" id={{this.id}}> <i class="fas fa-star star-book" data-toggle="tooltip" title="Add Book to Favorites" id="star-book"></i></i><i class="fas fa-plus add-book" data-toggle="tooltip" title="Add Book to Read Books" ></i></div>
        {{/if}}

        </form>
      
      </div>
    </div>
    {{/each}}