 {{#each info}}
    <div class="card card-book" style="width: 10rem;" >
      <a href="/book/{{this.id}}">
        <img class="card-img-top" src={{this.volumeInfo.imageLinks.thumbnail}} alt="Card image cap">
      </a>
      <div class="card-body card-body-book">
        <div class="card-book-text-container">
          <h4 class="card-text card-book-text">{{this.volumeInfo.title}}</h4>
          <h6 class="card-text card-book-text">{{this.volumeInfo.subtitle}}</h6>
        </div>
        <form action="/search" method="GET" id="testForm">
        <input type="text" name="starred" class="hidden" id="book-input">
          <div class="book-icons" id={{this.id}}> <i class="fas fa-star star-book"></i></i><i class="fas fa-plus" id="add-book"></i></div>
        </form>
        
      </div>
    </div>
    {{/each}}