<div class="user-container flex wrap">
    {{#each userInfo}}
    <div class="user-card">
        <div class="card-template hovercard user" id="{{this._id}}">
            <a href="/profile/{{this.username}}">
                <div class="avatar">
                    {{#if this.picture}}
                    <img alt="profile-pic" src={{this.picture}}>
                    {{else}}
                    {{#if this.gender}}
                    {{#if this.gender.F}}
                    <img alt="woman" src='/images/woman-avatar.png'>
                    {{/if}}
                    {{#if this.gender.M}}
                    <img alt="man" src='/images/man-avatar.png'>
                    {{/if}}
                    {{#if this.gender.N}}
                    <img alt="neutral" src='/images/neutral-avatar.png'>
                    {{/if}}
                    {{else}}
                    <img alt="neutral" src='/images/neutral-avatar.png'>
                    {{/if}}
                    {{/if}}

            </a>
        </div>
        </a>
        <p>{{this.username}}</p>
        {{#if ../isAdmin}}
        <a href="" class="btn btn-danger delete-user">Delete</a>
        {{/if}}
    </div>
</div>
{{/each}}
</div>