<div class="container body-container" id="inbox-container">

    <div class="row inbox-head" id="inbox-header">
        <div class="container">
            <div class="row">
                <h3>Inbox</h3>
            </div>
            <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="#" title="Inbox" class="btn btn-light mail-btn" id="in-mail">
                        <i class="fas fa-envelope"></i> <span class="btn-text">Inbox</span>
                    </a>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="#" title="Sent" class="btn btn-info mail-btn" id="sent-mail">
                        <i class="fas fa-paper-plane"></i><span class="btn-text">Sent</span>
                    </a>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="#myModal" data-toggle="modal" title="Compose" class="btn btn-compose mail-btn">
                        <i class="fas fa-pen"></i> <span class="btn-text">Write</span>
                    </a>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="#" title="Delete" class="btn btn-delete mail-btn" id="delete-all-mail">
                        <i class="fas fa-trash-alt"></i> <span class="btn-text">Delete</span>
                    </a>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade"
            style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">To</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="username" id="inputUserName" name="username" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Message</label>
                                <div class="col-lg-10">
                                    <textarea rows="10" cols="30" class="form-control" id="message-body" name="message"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <A class="btn btn-send" id="send-message" data-dismiss="modal">Send</A>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
    <div class="row" id="inbox-mail">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        {{!-- <input type="checkbox" class="check-all"> --}}
                    </th>
                    <th scope="col">From</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                {{#if messages}}

                {{#each messages}}
                <tr>
                    <th scope="row">
                        <input type="checkbox" class="mail-checkbox" data-mail={{this._id}}>
                    </th>
                    <td>{{this.from}}</td>
                    <td>{{this.message}}</td>
                </tr>

                {{/each}}
                {{#if ../errors.inbox}}
                <div class="no-message">
                    <h1>{{../errors.inbox}}</h1>
                </div>
                {{/if}}
                {{/if}}
            </tbody>
        </table>
    </div>
    <div class="row sent-mail">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        {{!-- <input type="checkbox" class="check-all"> --}}
                    </th>
                    <th scope="col">To</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                {{#if sentmessages}}

                {{#each sentmessages}}
                <tr>
                    <th scope="row">
                    </th>
                    <td>{{this.to}}</td>
                    <td>{{this.message}}</td>
                </tr>

                {{/each}}

                {{/if}}
            </tbody>
        </table>

        {{#if errors.sent}}
        <div class="no-message">
            <h1>{{errors.sent}}</h1>
        </div>
        {{/if}}
    </div>
</div>
<script src="/javascripts/inbox.js"></script>