<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/books.jpg');"></div>
<div class="main main-raised">

  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">

              {{#if userpicture}}
                    <img src="{{userpicture}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                    {{else}}

                    {{#if gender.F}}
                        <img src="/images/woman-avatar.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                    {{/if}}
                    {{#if gender.M}}
                        <img src="/images/man-avatar.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                    {{/if}}
                    {{#if gender.N}}
                        <img src="/images/neutral-avatar.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                    {{/if}}
              {{/if}}


            </div>
            <div class="name">
              <h3 class="title">{{firstname}} {{lastname}}</h3>
              <h6>{{username}}</h6>
              {{#unless isProfileOwner}}
                <h5>{{numMatchingBooks}} matching Books</h5>
              {{/unless}}
              <a href="#" class="btn btn-just-icon btn-link btn-dribbble"><i class="fab fa-dribbble"></i></a>
              <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="btn btn-just-icon btn-link btn-pinterest"><i class="fab fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="description text-center">
        <p>{{description}}</p>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile-tabs">
            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                  <i class="material-icons">camera</i> About Me
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#books" role="tab" data-toggle="tab">
                  <i class="material-icons">palette</i> Read Books
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#favorite-books" role="tab" data-toggle="tab">
                  <i class="material-icons">favorite</i>
                  Favorite
                  <br> Books
                </a>
              </li>
              {{#if isProfileOwner}}
              <li class="nav-item">
                <a class="nav-link" href="/profile-setup/">
                  {{!-- role="tab" data-toggle="tab"> --}}
                  <i class="material-icons">account_box</i>Edit <br>Profile
                </a>
              </li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-content tab-space flex">
        <div class="tab-pane active text-center gallery" id="studio">
          <div class="row">
            <div class="col-md-3 ml-auto">
              <img src="/assets/img/examples/studio-1.jpg" class="rounded">
              <img src="/assets/img/examples/studio-2.jpg" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
              <img src="/assets/img/examples/studio-5.jpg" class="rounded">
              <img src="/assets/img/examples/studio-4.jpg" class="rounded">
            </div>
          </div>
        </div>
        <div class="tab-pane text-center gallery book-tab" id="books">
          <div class="row wrap my-books" id="read-books">
             {{#if books}}
            {{#each books}}
            <div>
              <img src={{this.imageLinks.thumbnail}} alt="image" class="rounded">
            </div>
            {{/each}}
            {{/if}}
          </div>
        </div>
        <div class="tab-pane text-center gallery book-tab" id="favorite-books">
          <div class="row wrap my-books" id="fav-books">
            {{#if favbooks}}
            {{#each favbooks}}
            <div>
              <img src={{this.imageLinks.thumbnail}} alt="image" class="rounded">
            </div>
            {{/each}}
            {{/if}}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>