  {{!-- <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#">
          <img src="/assets/img/book-match-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Book Match </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">apps</i> Access
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="/signup" class="dropdown-item">
                <i class="material-icons">layers</i> Sign Up
              </a>
              <a href="/login" class="dropdown-item">
                <i class="material-icons">vpn_key</i> Log In
              </a>
              <a href="/logout" class="dropdown-item">
                <i class="material-icons">exit_to_app</i> Log out
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
              <i class="material-icons">book</i> About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/{{twitter}}" target="_blank" data-original-title="Follow us on Twitter">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/{{facebook}}" target="_blank" data-original-title="Like us on Facebook">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/{{instagram}}" target="_blank" data-original-title="Follow us on Instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav> --}}
  
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/books.jpg');"></div>
  <div class="main main-raised">

    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="{{userpicture}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">{{firstname}}  {{lastname}}</h3>
                <h6>{{username}}</h6>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fab fa-dribbble"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fab fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p>{{description}}</p>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                    <i class="material-icons">camera</i> About Me
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                    <i class="material-icons">palette</i> Read Books
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> 
                    Favorite
                    <br> Books
                  </a>
                </li>
                {{#if isProfileOwner}}
                <li class="nav-item">
                  <a class="nav-link" href="/profile-setup/">
                  {{!-- role="tab" data-toggle="tab"> --}}
                    <i class="material-icons">account_box</i>Edit <br>Profile
                  </a>
                </li>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="studio">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="/assets/img/examples/studio-1.jpg" class="rounded">
                <img src="/assets/img/examples/studio-2.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="/assets/img/examples/studio-5.jpg" class="rounded">
                <img src="/assets/img/examples/studio-4.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="/assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="/assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="/assets/img/examples/cynthia-del-rio.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="/assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="/assets/img/examples/clem-onojegaw.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="/assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="/assets/img/examples/studio-3.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="/assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="/assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="/assets/img/examples/studio-1.jpg" class="rounded">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 