<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/books.jpg');"></div>
<div class="main main-raised">

  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">

              {{#if userpicture}}
              <img src="{{userpicture}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              {{else}}

              {{#if gender.F}}
              <img src="/images/woman-avatar.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              {{/if}}
              {{#if gender.M}}
              <img src="/images/man-avatar.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              {{/if}}
              {{#if gender.N}}
              <img src="/images/neutral-avatar.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              {{/if}}
              {{/if}}


            </div>
            <div class="name">
              <h3 class="title">{{firstname}} {{lastname}}</h3>
              <h6>{{username}}</h6>
              {{#unless isProfileOwner}}
              <h5>{{numMatchingBooks}} matching Books</h5>
              {{/unless}}
              {{#if usertwitterID}}
              <a href="https://twitter.com/{{usertwitterID}}" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-twitter"></i></a>
              {{/if}}
              {{#if userfbID}}
              <a href="https://facebook.com/{{userfbID}}" class="btn btn-just-icon btn-link btn-fb"><i class="fab fa-facebook"></i></a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="description text-center">
        <p>{{description}}</p>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile-tabs">
            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#aboutme" role="tab" data-toggle="tab">
                  <i class="material-icons">camera</i> About Me
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#books" role="tab" data-toggle="tab">
                  <i class="material-icons">palette</i> Read Books
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#favorite-books" role="tab" data-toggle="tab">
                  <i class="material-icons">favorite</i>
                  Favorite
                  <br> Books
                </a>
              </li>
              {{#if isProfileOwner}}
              <li class="nav-item">
                <a class="nav-link" href="#friends" role="tab" data-toggle="tab">
                  <i class="fas fa-user-friends"></i> Friends
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile-setup/">
                  <i class="material-icons">account_box</i>Edit<br>Profile
                </a>
              </li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-content tab-space flex">
        <div class="tab-pane active text-center" id="aboutme">
          <div class="row">
            <div class="col-12">
              <h3>Country:</h3>
              <p>{{usercountry}}</p>

              {{#if languages}}
              <h3>Languages:</h3>
              <ul>
                {{#each languages}}
                <li>{{this}}</li>
                {{/each}}
              </ul>
              {{/if}}
              <h3>Book Genre:</h3>
              <ul>
                {{#if bookGenre}}
                {{#each bookGenre}}
                <li>{{this}}</li>
                {{/each}}
                {{/if}}
              </ul>
              <h3>Description:</h3>
              <p>{{description}}</p>
            </div>
          </div>
        </div>
        <div class="tab-pane text-center gallery book-tab" id="books">
          <div class="row wrap my-books" id="read-books">
            {{#if books}}
            {{#each books}}
            <div class="card card-book" style="width: 10rem;">
              <a href="/book/{{this.id}}">
                <img class="card-img-top" src={{this.imageLinks.thumbnail}} alt="Card image cap">
              </a>
              <div class="card-body card-body-book">
                <div class="card-book-text-container">
                  <h4 class="card-text card-book-text">{{this.title}}</h4>
                </div>
                  <input type="text" name="starred" class="hidden" id="book-input">
                  {{#if ../isProfileOwner}}
                  <div class="book-icons" id={{this.id}}>
                    {{#if this.starred}}
                    <i class="fas fa-star star-book clicked" data-toggle="tooltip" title="Remove Book of Favorites" id="star-book"></i>
                    {{else}}
                    <i class="fas fa-star star-book" data-toggle="tooltip" title="Add Book to Favorites" id="star-book"></i></i>
                    {{/if}}
                    {{#if this.added}}
                    <i class="fas fa-minus add-book clicked" data-toggle="tooltip" title="Remove Book of Read Books"></i>
                    {{else}}
                    <i class="fas fa-plus add-book" data-toggle="tooltip" title="Add Book to Read Books"></i>
                    {{/if}}
                  </div>
                  {{/if}}
              </div>
            </div>

            {{/each}}
            {{/if}}
          </div>
        </div>
        <div class="tab-pane text-center gallery book-tab" id="favorite-books">
          <div class="row wrap my-books" id="fav-books">
            {{#if favbooks}}
            {{#each favbooks}}
            <div>
              <img src={{this.imageLinks.thumbnail}} alt="image" class="rounded">
            </div>
            {{/each}}
            {{/if}}
          </div>
        </div>
        <div class="tab-pane text-center" id="friends">
          <div class="row wrap my-books">
            {{#if friends}}
            {{#each friends}}
            {{#if this.picture}}
            <div class="friend-info">
              <a href="/profile/{{this.username}}">
                <img src={{this.picture}} alt="friend" id={{this._id}} class="rounded">
              </a>

              <div>
                <p>{{this.username}}</p>
              </div>
            </div>
            {{else}}
            {{#if this.gender.F}}
            <div class="friend-info" width="150px" height="150px">
              <a href="/profile/{{this.username}}">
                <img src="/images/woman-avatar.png" alt="Circle Image" class="avatar" width="150px" height="150px" id={{this._id}}>
              </a>
              <div>
                <p>{{this.username}}</p>
              </div>
            </div>

            {{/if}}
            {{#if this.gender.M}}
            <div class="friend-info" width="150px" height="150px">
              <a href="/profile/{{this.username}}">
                <img src="/images/man-avatar.png" alt="Circle Image" class="avatar" width="150px" height="150px" id={{this._id}}>
              </a>
              <div>
                <p>{{this.username}}</p>
              </div>
            </div>
            {{/if}}
            {{#if this.gender.N}}
            <div class="friend-info" width="150px" height="150px">
              <a href="/profile/{{this.username}}">
                <img src="/images/neutral-avatar.png" alt="Circle Image" class="avatar" width="150px" height="150px" id={{this._id}}>
              </a>

              <div>
                <p>{{this.username}}</p>
              </div>
            </div>
            {{/if}}
            {{/if}}
            {{/each}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>